.container{
    width: 1170px;
    height: auto;
    margin: 0 auto;
}

.header{
    width: 1170px;
    height: 100px;
    background-color: red;
}
.row1{
    width: 1170px;
    height: 100px;
}

.row1 .content-1{
    width: 292.5px;
    height: 100px;
    float: left;
    background-color: rgb(107, 238, 19);
}
.row1 .content-2{
    width: 292.5px;
    height: 100px;
    float: left;
    background-color: green;
}
.row1 .content-3{
    width: 292.5px;
    height: 100px;
    float: left;
    background-color: grey;
}
.row2 .content-5{
    width: 292.5px;
    height: 100px;
    float: left;
    background-color: pink;
}
.row2 .content-6{
    width: 292.5px;
    height: 100px;
    float: left;
    background-color: aqua;
}
.row2 .content-7{
    width: 585px;
    height: 100px;
    float: left;
    background-color: brown;
}
.row3 .content-8{
    width: 585px;
    height: 100px;
    float: left;
    background-color: black;
}

.row3 .content-9{
    width: 292.5px;
    height: 100px;
    float: left;
    background-color: cyan;
}
.row3 .content-10{
    width: 292.5px;
    height: 100px;
    float: left;
    background-color: aquamarine;
}

.row4 .content-11{
    width: 292.5px;
    height: 100px;
    float: left;
    background-color: blueviolet;
}
.row4 .content-12{
    width: 585px;
    height: 100px;
    float: left;
    background-color: violet;
}

.row4 .content-13{
    width: 292.5px;
    height: 100px;
    float: left;
    background-color: blue;
}

.row5 .content-14{
    width: 1170px;
    height: 100px;
    background-color: rgb(5, 172, 94);
    float: left;
}